<ion-view title="Login" hide-nav-bar="true" hide-back-button="true" id="page5">
    <ion-content padding="true" style="background: url(img/j82UC5nTkaN2SlEl9KgJ_2016-03-27-07-38-55-1.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 48px;"></div>
        <div>
            <img src="img/4fmQ6ZiNTmaP8S1iORpD_logo mangan s.png" width="25%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="login-heading1" style="color:#FFFFFF;text-align:center;">MANGAN</h1>
        <form id="login-form1" class="list ">
            <ion-list id="login-list6">
                <label class="item item-input " id="login-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.order" id="login-button1" class=" button button-positive  button-block ">Log in</a>
        </form>
    </ion-content>
</ion-view>