<ion-view view-title="Profil" id="profil">
  <ion-content>
  	<div id="content" style="position: relative; margin: 0 15px">
  		<div id="profile-image">
  			<img ng-src="{{kurir.photoUrl}}" style="width:30%; display:block; margin-left: auto; margin-right:auto; margin-top: 20px;">
  			<input type="text" style="width: 50%; text-align: center; font-size: 24px; margin: auto; border-bottom: 2px solid rgba(230, 231, 232, 0.8); margin-bottom: 10px;" ng-model="kurir.nama">
        <center><h4>Kurir {{kurir.kurir}}</h4></center>
  		</div>

  		<ion-list>
  			<div class="item item-divider">
  				Profil
  			</div>
               
        <label class="item item-input">
          <i class="mangan-invoice-icon icon ion-ios-email" style="margin-right: 5px;"></i>
          <span class="mangan-line"><input type="text" style="font-size: 18px;" ng-model="kurir.email" readonly></span>
        </label>

        <label class="item item-input">
          <i class="mangan-invoice-icon icon ion-ios-telephone" style="margin-right: 5px;"></i>
          <span class="mangan-line"><input type="text" style="font-size: 18px;" ng-model="kurir.kontak"></span>
        </label>

        <label class="item item-input">
          <i class="mangan-invoice-icon icon ion-ios-chatboxes" style="margin-right: 5px;"></i>
          <span class="mangan-line"><input type="text" style="font-size: 18px;" ng-model="kurir.lineUsername" placeholder="LINE username"></span>
        </label>

  		</ion-list>
      <button class="button button-block button-balanced" ng-click="updateProfile()">Simpan</button>
      <center>
        <button class="button button-clear button-balanced" ng-click="signOut()">Log Out</button>
      </center>
  	</div>

  </ion-content>
</ion-view>