<ion-view title="Riwayat" id="page4">
    <ion-content padding="true" class="has-header">
        <ion-refresher
            pulling-text="Lepas untuk memperbarui"
            on-refresh="refresh()"
            spinner = "ripple" >
        </ion-refresher>

        <div style="width: 100%; height: auto; padding: 30px 10px;" ng-hide="orders.length > 0 || orders == 'null'">
            <center>
            <i class="ion-bag" style="font-size: 48px;"></i>
            <p style="margin-top: 20px;">Tidak ada riwayat order</p>
            <p>Tarik kebawah untuk memperbarui</p>
            </center>
        </div>

        <center ng-show="orders.length > 0" ><p>Riwayat Transaksi 1 Minggu</p></center>

        <ion-list>
            <ion-item class="item item-avatar item-text-wrap" ng-repeat="order in orders | orderObjectBy: 'tgl' :true track by order.indexTransaksi" ui-sref="tabsController.transaksi({index: order.indexTransaksi})">
                <img ng-src="{{order.gambarResto}}">
                <p>{{getDate(order.tgl)}}</p>
                <h2>{{ order.namaUser }}</h2>
                <p><b>Restoran : {{ order.namaResto }}</b></p>
                <p>Alamat Kirim : {{ order.alamatUser }}</p>
                <p>Transaksi : {{ order.jumlah }}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>