<ion-view title="Transaksi" id="page6" cache-view="false">
    <ion-content padding="true" class="has-header">
        <ion-refresher
            pulling-text="Tarik untuk memperbarui"
            on-refresh="refresh()"
            spinner = "ripple" >
        </ion-refresher>
        <div>
            <img ng-src="{{order.gambarResto}}" width="90%" height="auto" style="border:1px solid gray; display: block; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px;">
        </div>
        <center><h2>{{order.namaUser}}</h2></center>
        <h1 id="transaksi-heading2" style="color:#000000;">{{order.index}}</h1>
        <form id="transaksi-form2" class="list ">
            <a class="item item-icon-left item-text-wrap" ng-click="openMap(order.mapUser.lat, order.mapUser.long)">
                <i class="icon ion-ios-location-outline"></i>
                <p>Alamat Kirim</p>
                {{order.alamatUser}}
                <p>Keterangan Detail Alamat</p>
                {{order.alamatUserDetail}}
            </a>
            <a class="item item-icon-left item-text-wrap" ng-click="openMap(order.map.lat, order.map.long)">
                <i class="icon ion-ios-location-outline"></i>
                <p>Resto</p>
                {{order.namaResto}}
                <br>
                <p>Buka</p>
                {{order.keteranganBuka}}
                <br>
                <p>Alamat</p>
                {{order.alamat}}
            </a>
            <a class="item item-icon-left" ng-show="distance && duration">
                <i class="icon ion-ios-location-outline"></i>
                <p>Jarak - ETA</p>
                {{distance}} - {{duration}}
            </a>
            <a class="item item-icon-left" href="tel:{{order.noTelpUser}}">
                <i class="icon ion-ios-telephone-outline"></i>
                <p>Kontak</p>
                {{order.noTelpUser}}
            </a>
            <a class="item item-icon-left" ng-click="openLine(order.lineUsername)" ng-show="order.lineUsername">
                <i class="icon ion-ios-chatboxes-outline"></i>
                <p>Line User</p>
                {{order.lineUsername}}
            </a>
            <a class="item item-icon-left" ng-click="openWhatsapp(order.noTelpUser)">
                <i class="icon ion-social-whatsapp-outline"></i>
                <p>Whatsapp (Bisa tidak tersedia)</p>
                {{order.noTelpUser}}
            </a>
            <ion-item class="item-divider " id="transaksi-list-item-divider1">Menu</ion-item>
            <ion-list>
                <ion-item class="item item-text-wrap" ng-repeat="menu in order.pesanan">
                    <h2>{{menu.namaMenu}}</h2>
                    <p>Jumlah : {{menu.quantity}}</p>
                    <p>Total Harga : {{menu.harga * menu.quantity}}</p>
                    <p ng-show="menu.note">Catatan : {{menu.note}}</p>
                </ion-item>
            </ion-list>
            <label class="item item-input " id="transaksi-input4">
                <span class="input-label">Transaksi</span>
                <input type="number" ng-model="order.jumlah" readonly="true">
            </label>
            <label class="item item-input " id="transaksi-input5">
                <span class="input-label">Ongkos Kirim</span>
                <input type="number" ng-model="order.feedelivery">
            </label>
            <label class="item item-input " id="transaksi-input4">
                <span class="input-label">Total</span>
                <input type="text" value="{{order.jumlah + order.feedelivery}}" readonly="true">
            </label>
            <button ng-show="order.status == 'queue'" id="transaksi-button3" class=" button button-balanced  button-block " ng-click="changeStatus('process')">Proses</button>
            <button ng-show="order.status == 'process'" id="transaksi-button4" class=" button button-energized  button-block " ng-click="changeStatus('done')">Selesai</button>
            <button ng-show="order.status == 'queue'" id="transaksi-button5" class=" button button-assertive  button-block " ng-click="changeStatus('cancel')">Tolak</button>
        </form>
    </ion-content>
</ion-view>