<ion-view title="Transaksi" id="page6">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/pE5n7nawSgiuc1CEkpj2_people_icon.jpg" width="20%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="transaksi-heading2" style="color:#000000;">idTransaksi</h1>
        <form id="transaksi-form2" class="list ">
            <label class="item item-input " id="transaksi-input3">
                <span class="input-label">Nama</span>
                <input type="text" placeholder="Mr Tukul">
            </label>
            <label class="item item-input " id="transaksi-input4">
                <span class="input-label">Nominal</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="transaksi-textarea1">
                <span class="input-label">Alamat</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="transaksi-input5">
                <span class="input-label">Jam</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="item-avatar  " id="transaksi-list-item15">
                <h2>Kontak</h2>
                <p>071231231</p>
            </ion-item>
            <ion-item class="item-divider " id="transaksi-list-item-divider1">Menu</ion-item>
            <ion-item class="item-thumbnail-left  " id="transaksi-list-item13">
                <h2>Nama Menu</h2>
                <p>Jumlah</p>
            </ion-item>
            <button id="transaksi-button3" class=" button button-balanced  button-block ">Proses</button>
            <button id="transaksi-button4" class=" button button-energized  button-block ">Selesai</button>
            <button id="transaksi-button5" class=" button button-assertive  button-block ">Tolak</button>
        </form>
    </ion-content>
</ion-view>