<ion-view title="Transaksi" id="page6">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/pE5n7nawSgiuc1CEkpj2_people_icon.jpg" width="20%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="transaksi-heading2" style="color:#000000;">{{order.index}}</h1>
        <form id="transaksi-form2" class="list ">
            <label class="item item-input " id="transaksi-input3">
                <span class="input-label">Nama</span>
                <input type="text" value="{{order.nama}}" readonly="true">
            </label>
            <label class="item item-input " id="transaksi-input4">
                <span class="input-label">Nominal</span>
                <input type="text" value="{{order.totalharga}}" readonly="true">
            </label>
            <label class="item item-input " id="transaksi-textarea1">
                <span class="input-label">Alamat</span><textarea readonly="true">{{order.alamat}}</textarea>
            </label>
            <label class="item item-input " id="transaksi-input5">
                <span class="input-label">Restoran</span>
                <input type="text" value="{{order.namaResto}}" readonly="true">
            </label>
            <ion-item class="item-avatar  " id="transaksi-list-item15">
                <h2>Kontak</h2>
                <p>{{order.notelp}}</p>
            </ion-item>
            <ion-item class="item-divider " id="transaksi-list-item-divider1">Menu</ion-item>
            <ion-list>
                <ion-item class="item-thumbnail-left" id="transaksi-list-item13" ng-repeat="menu in order.pesanan">
                    <h2>{{menu.indexmenu}}</h2>
                    <p>{{menu.jumlah}}</p>
                    <p>{{menu.total}}</p>
                </ion-item>
            </ion-list>
            <button ng-show="order.status == 'queue'" id="transaksi-button3" class=" button button-balanced  button-block " ng-click="changeStatus('process')">Proses</button>
            <button ng-show="order.status == 'process'" id="transaksi-button4" class=" button button-energized  button-block " ng-click="changeStatus('done')">Selesai</button>
            <button ng-show="order.status == 'queue'" id="transaksi-button5" class=" button button-assertive  button-block " ng-click="changeStatus('cancel')">Tolak</button>
        </form>
    </ion-content>
</ion-view>